<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <!-- set viewport to device width to make site responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- bootstrap css -->
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- custom styles -->
    <link rel="stylesheet" type="text/css" href="styles/profile.css">
    <title>MyCar</title>
  </head>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="row">
      <form id="add_car">
        <div class="col-md-1">
          <div class='form-group'>
            <select class="form-control" id="car_year" name="year">
              <option>Year</option>
              <option>2015</option>
              <option>2014</option>
              <option>2013</option>
              <option>2012</option>
            </select>
          </div>
        </div>
        <div class="col-md-2">
          <div class='form-group'>
            <select class="form-control" id="car_make" name="make">
              <option>Make</option>
              <option>Chevy</option>
              <option>Buick</option>
              <option>Ford</option>
              <option>Toyota</option>
            </select>
          </div>
        </div>
        <div class="col-md-2">
          <div class='form-group'>
            <select class="form-control" id="car_model" name="model">
              <option>Model</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-group">
            <input type="submit" class="btn btn-block btn-primary" value="Add Car">
          </div>
        </div>
      </form>
      <div class="container">
        <ul class="nav nav-pills">
          <li role="presentation" class="active"><a href="profile">Home</a></li>
          <li role="presentation"><a href="XXXXXXX">Maintanence</a></li>
          <li role="presentation"><a href="XXXXXX">Receipts</a></li>
          <li role="presentation"><a href="XXXXXX">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <br>
  <br>
  <br>
  <br>
  <body>
    
    <div id="car-list">
      <script id="car-template" type="text/x-handlebars-template">
      \{{#each car}}
      
      
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="http://media.caranddriver.com/images/media/638444/ec2015-small-cars-photo-641096-s-original.jpg" alt="...">
          <div class="caption">
            <h3>\{{year}} \{{make}} \{{model}}</h3>
            <p>Vehicle specs here</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>
      \{{/each}}
      </script>
    </div>
    <!-- jquery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <!-- bootstrap js -->
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- handlebars -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>
    <!-- custom script -->
    <script type="text/javascript" src="scripts/main.js"></script>
  </body>
</html>