body { 
	padding-top: 70px;
	 background-image: url("pexels-photo.jpg");
    background-attachment: fixed;
	background-size: 100% auto;
}
.nav-pills{
	padding-top: 5px;
	padding-left: 920px;
}


#description {
	border: 2px solid black;
}

h1 {
	text-align: center;
	font-size: 100px;
}